h1{
    font-family:'Fraunces', serif;
    font-weight:700;
    font-size:26px;
}

body{
    background-color:#FEF2ED;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
}

.whitebox{

    margin-right:auto;
    margin-left:auto;
    margin-top:20%;
    width: 70%;
    height:400px;
    background-color:white;
    border-radius:10%;
}